:root {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(181, 255, 96);
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 15vh;
    /* background-color: rgba(255, 201, 94, 0.514); */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
}
#name {
    max-height: 100%;
    filter: drop-shadow(3px 6px rgb(181, 255, 96, 0.7));
}
#navlist a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    color:rgb(20, 20, 20);
    text-shadow: 2px 2px 1px rgb(181, 255, 96);
}
#navlist a:visited, footer a:visited{
    color:rgb(20, 20, 20);;
}
#navlist a:hover, footer a:hover{
    color:rgb(236, 46, 204);
}
footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
footer a {
    text-decoration: none;
    color:rgb(20, 20, 20);
    background-color: rgb(255, 242, 55);
    padding: 0.25rem;
    border-radius: 0.75rem;
}
#mobile-mail-link {display: none;}

/* GALLERY page */
#gallery, #about {
    display: flex;
}
section {
    display: inline-flex;
    flex-direction: column;
}
#L-flex {
    width: 40%;
}
#R-flex {
    width: 60%;
}
.img-wrap {
    margin: 2%; 
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    display: flex; 
    align-items: center;    
    justify-content: center; 
}
.img-caption {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;    
    justify-content: center; 
    color: #ffffff;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-align: center;
    z-index: 4;
    background-color: rgba(255, 213, 0, 0.5);
    background-size: cover;
}
h3 {
    font-size: 1.8rem;
    text-wrap: balance;
    -moz-text-wrap: balance;
    -webkit-text-wrap: balance;
}
.img-caption:hover {opacity: 1;}

/* ABOUT page */
#about {
    background-color: aliceblue;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}
#about-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2rem;
}
#about img {max-width: 50%;}

/* HOME */
#welcome-mobile {display: none;} 
#welcome-desktop {display: block}

@media only screen and (max-width: 767px) {
    :root {font-size: 12px;}
    #about {flex-direction: column-reverse;}   
    #about img {min-width: 100%;}
    header {
        flex-direction: column;
        justify-content: center;}  
    #name {max-width: 85%;}
    footer {flex-direction: column;}
    footer p {margin: 0.5rem}
    footer a {margin: 0.1rem;}
    #welcome-mobile {display: block;}
    #welcome-desktop {display: none}
    #desktop-mail-link {display: none;}
    #mobile-mail-link {display: inline;}
  }